# Note reference one of the configuration files for the physical interface to connect to the board
# https://github.com/ntfreak/openocd/tree/master/tcl/interface
 
source [find interface/jlink.cfg]
#jlink serial 269302267
transport select swd

# Add the cpu
source [find target/lpc17xx.cfg]
 
# Set the Speed
adapter_khz 500

# Make the initial connection and halt the board
init
targets
reset halt
