# Note reference one of the configuration files for the physical interface to connect to the board
# https://github.com/ntfreak/openocd/tree/master/tcl/interface

#add_script_search_dir "C:/Apps/OpenOCD-20170609/share/openocd/scripts"

source [find board/st_nucleo_f7.cfg]


# Set the Speed
#adapter_khz 500

$_TARGETNAME configure -event gdb-attach {
   halt
}
$_TARGETNAME configure -event gdb-attach {
   reset init
}
